.container-master{
    background-color: cadetblue;
}

.container-fsform{
    margin-left: 7em;
    margin-right: 7em;
    padding: 5em;
}

.container-header{
    background-color: rgb(165, 35, 35);
    text-align: center;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

.container{
    background-color: rgb(44, 129, 129)
}

.container-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2em;
   border-style: solid;
   border-color: black;
}

.form_Nomb{
    display: flex;
    margin: 1em
}


.form_Disfr{
    display: flex;
    margin: 1em;
    flex-direction: column;
    justify-content: space-around;
}

.form_CE{
    display: flex;
    margin: 1em
}

.form_Ocupacion{
    display: flex;
    margin: 1em
}

.form_Talla{
    display: flex;

    margin: 1em
}

.form_Edad{
    display: flex;

    margin: 1em
}

.form_EstVis{
    display: flex;

    margin: 1em
}

.form_Tele{
    display: flex;

    margin: 1em
}

.form_PrefDie{
    display: flex;
    flex-direction: column;
    
}


#checkbox{
    display: flex;
    justify-content: space-between;
}

.button{
    display: flex;

    margin: 1em
}